header {
   width: 1150px;
   height: 100px;
}
.firstDiv {
    position: fixed;
  display: inline-block;
  margin-bottom: 3em;
  
}
.test{
    display: inline-block;

    top: 2px;
    margin-right: 2px;
}

h1 {
    margin-bottom: 4em;
    top: 3px;
    display: inline;
    margin-top: 8;
    padding-bottom: 2ch;
   
}

h3 {
    margin-left: 40px; 
    margin-top: 0;
    margin-right: 40px;   
    
}




 .secondDiv {
    position: relative;
    float: right;
    right: 0;
    top: 20px;
}  

hr.line {
    margin: 30px 150px;  
     background: url(../img/hr-img.png);
     height: 20px;
     width: 900px;
  }
  
main {
    position: relative;
}
    


